In [1]:
x = 11
y = 4
x = x % y
x = x % y
y = y % x
print(x, y)

3 1

In [2]:
x = 11
y = 4

In [3]:
x = x % y

In [4]:
print(x)

3

In [5]:
x = x % y # 3 % 4 = 4

In [6]:
print(x)

3

In [7]:
x = 11
y = 4
x = x % y
x = x % y
print(x)
print(y)

3
4

In [8]:
y = y % x

In [9]:
x = 11
y = 4
x = x % y
x = x % y
x = x % y
print(x)
print(y)

3
4

In [10]:
a = 11
b = 4
print(a, b)

11 4

In [11]:
a = 11
b = 4
a = a % b
print(a, b)

3 4

In [12]:
a = 11
b = 4
a = a % b # update the a value to 3
a = a % b # ?
print(a, b)

3 4

In [13]:
a = 11
b = 4
c = 2
a = a % b # update the a value to 3
a = a % c # ?
print(a, b)

1 4

In [14]:
a = 11
b = 4
a = a % b # update the a value to 3
a = a % b # ?
a = a % c # ?
print(a, b, c)

1 4 2

In [15]:
a = 11
b = 4
c = 2
a = a % b # update the a value to 3
a = a % b # ?
a = a % c # ?
print(a, b, c)

1 4 2

In [16]:
6 / 3

2.0

In [17]:
6.0 / 3

2.0

In [18]:
6 / 3.0

2.0

In [19]:
6.0 / 3.0

2.0

In [2]:
print(36. * 100000000000000000000)

3.6e+21

In [4]:
lst = ['a', 2 * 2, 3] * 3
print(lst)

['a', 4, 3, 'a', 4, 3, 'a', 4, 3]

In [5]:
greeting = 'interview'
for ch in greeting:
  if ch == 't':
    break
  print(ch)
else:
  print('Done!')

i
n

In [6]:
var = 10
for i in range(15):
    for j in range(2, 10, 1):
        if var % 2 == 0:
            continue
            var += 1
    var+=1
else:
    var+=1
print(var)

26

In [13]:
print(8 % 3 ** 4 // 3 + 2)

4

In [14]:
dict1 = {'Adam': 25, 'Hobby': 'Sport'}
dict2 = {'Hobby': 'Sport', 'Adam': 25}
print(dict1 == dict2)

True

In [15]:
title = 'WelcomE'
title[6] = 'e'
print(title)

TypeError: 'str' object does not support item assignment

In [16]:
age = input()
print(age == 13)

13
False

In [17]:
names = {'Tom': 10, 'Mary': 20}
names[20]

KeyError: 20